{% extends '_base.html' %}

{% block content %}
{% include '_navbar.html' %}
<main>
    <h2 class="text-center my-8 pt-8">Propiedades en Venta</h2>

    <section class="container mx-auto flex flex-col md:flex-row justify-between items-center wrap">
        {% for propiedad in propiedades %}
        <div class="w-8/12 anuncio">
            <img class="w-full" src="{{propiedad.imagen.url}}" alt="">   
            <div class="p-8 leading-relaxed">
                <h4>{{propiedad.titulo}}</h4>
                <p>{{propiedad.descripcion}}</p>
                <p class="precio">${{propiedad.precio}}</p>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img src="/static/img/icono_wc.svg" alt="icono wc">
                        <p>{{propiedad.banos}}</p>
                    </li>
                    
                    <li>
                        <img src="/static/img/recamara-icono.svg" alt="icono dorm">
                        <p>{{propiedad.recamaras}}</p>
                    </li>
                </ul>
                <a href="{% url 'propiedades:ver_propiedad' propiedad.pk %}" class="boton boton-amarillo d-block">Ver Propiedad</a>
                
            </div>
            
        </div>
        {% endfor %}
    

    </section>
</main>

{% include '_footer.html' %}
{% endblock content %}