{% extends '_base.html' %}

{% block content %}
{% include '_navbar.html' %}
<section>
    <div class="container mx-auto">
        <h2 class="text-center my-8">Mas Sobre Nosotros</h2>

        <div class="flex flex-col items-center md:items-stretch justify-between md:flex-row">
            <div class="w-auto md:w-5/12">
                <img src="/static/img/Nosotros.png" alt="compra">
            </div>

            <div class="w-auto md:w-1/2  text-justify">
                <div>
                    <p class="text-base lg:text-lg xl:text-xl">En JV Bienes Raices nos dedicamos a la compra, venta, remodelación y rehabilitación de viviendas. </p>
                    <p class="text-base lg:text-lg xl:text-xl">Ayudamos a las familias a encontrar su hogar en el mercado de interés social.
                    </p>
                    <p class="text-base lg:text-lg xl:text-xl">Trabajamos en las ciudades de Tampico, Madero y Altamira, en el Estado de Tamaulipas.</p>
                </div>

                <div class="flex text-justify justify-between mt-10">
                    <div class="w-5/12">
                        <h4>Misión</h4>
                        <p class="text-base lg:text-lg xl:text-xl">"Asistir a nuestra comunidad en la compra/venta y remodelación de sus viviendas, buscando la mejor solución y sacar el mayor beneficio a la problemática que esté atravesando nuestro cliente"</p>
                    </div>
                    
                    <div class="w-5/12">
                        <h4>Visión</h4>
                        <p class="text-base lg:text-lg xl:text-xl">"Convertir a JV Bienes Raices en una empresa reconocida en el ramo inmobiliario de la región de Tampico, Madero y Altamira, dando a nuestros clientes la mejor solución posible a sus necesidades, ya sea vendiendo o comprando su vivienda."</p>
                    </div>
                    
                </div>

                

            </div>

            
        </div>
        
    </div>
</section>

<section class="bgc-s" id="servicios">
    <h2 class="text-center my-8 pt-8">Servicios</h2>

    <div class="container mx-auto">

        <!-- Vende tu casa -->
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="w-auto md:w-1/2 flex flex-col items-center">
                <div>
                    <div class="text-center">
                        <h3 class="text-3xl lg:text-4xl">¿Sigues pagando tu crédito INFONAVIT que ya NO QUIERES?</h3>
                        <h3 class="text-3xl lg:text-4xl">Te ayudamos a Venderla</h3>
                    </div>
                    

                    <div class="flex flex-col sm:flex-row text-center flex-wrap justify-between content-around gap-4">

                        <div class="w-5/12">
                            <h4>¿Casa abandonada? </h4>
                            <p class="text-base lg:text-lg xl:text-xl">Compraste tu casa, no la habitaste y ahora ya no sabes qué hacer para devolverla.</p>
                        </div>

                        <div class="w-5/12">
                            <h4>¿Casa Vandalizada?</h4>
                            <p class="text-base lg:text-lg xl:text-xl">Dejaste sola tu casa un tiempo y cuando regresaste ya no tenía nada</p>  
                        </div>

                        <div class="w-5/12">
                            <h4>¿Casa Invadida?</h4>
                            <p class="text-base lg:text-lg xl:text-xl">Hay personas viviendo ilegalmente dentro de tu Casa</p>
                        </div>

                        <div class="w-5/12">
                            <h4>O Simplemente ¿YA NO QUIERES TU CRÉDITO INFONAVIT?</h4>
                            <p class="text-base lg:text-lg xl:text-xl">Si te encuentras en cualquier caso como los que acabas de leer, da click en el botón de abajo para ponerte en contacto</p>
                        </div>

                    </div>
                    

                </div>
                <a href="{% url 'captacion:crearprospecto' %}"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full my-8">Me interesa</button></a>
                

            </div>

            <div class="w-auto md:w-5/12">
                <img src="/static/img/vende.jpg" alt="vende">
            </div>
        </div>

        <hr/>

        <!-- Compra tu casa -->
        <div class="md:flex md:justify-between">
            <div class="w-5/12 hidden md:block">
                <img src="/static/img/compra.jpg" alt="compra">
            </div>

            <div class="w-auto md:w-1/2 flex flex-col text-center">
                <div>
                    <h3>Compra tu Casa</h3>
                    <h3>Encuentra tu hogar en Tampico, Madero o Altamira</h3>
                </div>

                <div>
                    <p>Empieza tu busqueda aquí</p>
                    <a href="{% url 'propiedades:lista_propiedades' %}">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full my-8">Comenzar</button>
                    </a>
                </div>
                
                

            </div>

            
        </div>

        
    </div>
    
</section>

{% include '_footer.html' %}
{% endblock content %}