* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
  background-color: #f5f5f5;
  color: #212121;
}

.bgc-s{
  background-color: #212121;
  color: #f5f5f5;
}

h1{
  font-weight: 700;
  font-size: 3.5rem;
}

h2{
  font-weight: 300;
  font-size: 2.7rem;
}

h3{
  font-weight: 500;
  font-size: 2.4rem;
}

h4{
  font-weight: 400;
  font-size: 1.5rem;
}

p{
  font-weight: 100;
  font-size: 1.3rem;
}

.border{
  border: 0.5px solid black;
}

hr {
  height: 1px;
  background-color: #212121;
  margin: 2rem 0;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}
::selection{
  background: rgb(0,123,255,0.3);
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #212121;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
  background: url("../img/banner.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}


/* VENDER.HTML */

.vender{
  background-color: #484848;
}