{% load static %}

<footer class="footer">
    <div class="content has-text-centered">
      <div class="flex justify-center">
        <a href="https://www.facebook.com/jvbienesraicesmx" target="_blank">
          <img src="/static/img/icono_facebook.svg" alt="">
        </a>

        <a href="https://www.instagram.com/jvbienesraicesmx/" target="_blank">
          <img src="/static/img/icono_instagram.svg" alt="">
        </a>
        
        
      </div>
      <hr class="f-hr">
      <p>
        JV Bienes Raices&copy; 2022 | Todos los derechos reservados.
      </p>
    </div>
  </footer>