{% load static %}

<nav class="navbar">
    <div class="content container mx-auto">
      <div class="logo">
        <a href="{% url 'index_app:index' %}">
            <img src="{% static 'img/Imagotipo-Blanco.svg' %}" alt="logotipo">
        </a>
      </div>
      <ul class="menu-list">
        <li><a href="{% url 'index_app:index' %}">Nosotros</a></li>
        <li><a href="{% url 'index_app:index' %}#servicios">Servicios</a></li>
        <li><a href="#">Propiedades</a></li>
        <li><a href="{% url 'contacto:contacto' %}">Contacto</a></li>
      </ul>
      
    </div>
</nav>

